@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* background: white; */
  user-select: none;
  -webkit-app-region: drag;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 13.375rem;
  padding: 1rem 1.0625rem;
  background-image: url('./assets/outer-back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.title{
  display: flex;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 6.25rem;
  border: 1px solid #C079FF;
  background: rgba(210, 164, 225, 0.40);

  color:var(--white, #fff);

  font-family: "Pixelify Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#calender{
  display: flex;
  width: 11.25rem;
  height: 10.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background: url("./assets/inner-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#day{
color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--mid-purple, #B58CD9);
    font-family: Pixeboy;
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.45rem;

    display: flex;
    width: 11.25rem;
    height: 4.4375rem;
    flex-direction: column;
    justify-content: center;
}

#month{
   color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #B58CD9;
    font-family: Pixeboy;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.3rem;

    width: 8.125rem;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
